body {
    margin: 0;
}

.site-header {
    background-color: #eee;
    padding: 30px;
}

.main-content {
padding: 30px;
}

.site-footer {
        background-color: #555;
padding: 30px;
}

.footer-link [
        color: #fff;

]